
.body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}
.body{
    margin: 0;
}
.div1 {
    background-color: lightcoral;
    div-rule-style:black;
    width: 300px;
    height: 60pc;
    border: 1px solid blue;
    float:left;
    gap:10px;
    overflow:hidden;
  }
  
  .img-circle{
    border-radius:50%;
    height:20%;
    text-align: center;
    border:2px solid black;

  }
  .left-content{
    text-align: center;
  }
  .nav link{
    padding: 10px;
    text-align:center;
    float: left;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

  .div2 {
    width: 800px;
    height: 600px;  
    padding: 50px;
    border: 0x solid red;
    gap: 10px;
    overflow:hidden;
  }
  .div2,.about{
    text-align: center;
  }
  .left-column{
    background-color: cadetblue;
    float: left;
    width: 300px;
  }
  .right-column{
    background-color: darkgray;
    float: right;
    width: calc(100%-300%);
    overflow: hidden;
  }
  .wrap{
    overflow: hidden;
  }
  .column1{
    width: 40%;
    float: left;
  }
  .column2{
    width: 30%;
    float: right;
  }

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
