.header {
    background-color: #333;
    padding: 15px;
    color: white;
}

.header-text {
    display: inline-block;
    margin: 0 20px;
    background-color: black;
    padding: 10px;
    position: relative;

}

div.header-text. {
    display: block;
    float: right;
    margin: 10px 0 0 0;
    padding: 20px 0;
    color: #C0BAB6;
    background-color: #232323;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;
}

.main {
    width: 1000px;
    margin: 0 auto;
}

.row.column.banner {
    width: 50%;
    margin: 30px;
    display: inline-block;
}

.banner {
    position: relative;
    width: 60%;
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden;
    margin-left: 150px;


}

.banner-text {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    text-align: center;
    top: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    margin: -72px;
    width: 100%;
    height: 20px;
    margin-left: 59px;


}

.grid-container>div {
    background-color: black;
    text-align: center;
    padding: 20px 0;
    font-size: 10px;
    Width: 100%;
    height: 144px;
    color: white;
}

.item1 {
    grid-row: 1 / span 2;
}

.item2 {
    grid-row: 1 / span 2;
}

.item3 {
    grid-row: 1 / span 2;
}
.newspaper {
  margin: 226px;
    column-count: 3;
    column-gap: 40px;
    color: black;

  }
  .text{
    margin: 226px;
    column-count: 3;
    column-gap: 40px;
    color: black;

  }
  .newspaper.newspaper-text{
    column-count: 3;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: lightblue;
  margin: 226px;
    column-count: 3;
    column-gap: 40px;
    color: black;
 
  }
  
.left-content {
    div-rule-style:black;
    width: 300px;
    height: 40pc;
    border: 1px solid blue;
    float:left;
    gap:10px;
    overflow:hidden;
  }
  .left-content{
    text-align: center;
  }
  .footer{
    padding: 20px;
    background-color: black;
  }

  