
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-width: 170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.ul{
      list-style: none;
}
.footer{
    background-color: black;
    padding: 80px 0;
}
.footer-col{
    width: 25%;
    padding: 0 50px;
    color: white;
    margin: 10px;
    margin-bottom: 30px;
    
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position:absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col4{
    width: 25%;
    padding: 0 50px;
    color: white;
    margin-top:  10px;
    margin-bottom: 30px;

}
.footer-col5{
    float: left;
    width: 25%;
    padding: 0 50px;
    color: white;
    margin-top:  10px;
    margin-bottom: 30px;
}
.search1{
    width: 80%;
}
.search {
    width: 10%;
    vertical-align: bottom;
}
.footer-col5-top-right {
    box-sizing: border-box;
    float: left;
    text-align: left;
    width: 10%;
}


