.heading{
background-color: yellow;
}
.html{
    background-color: darkblue;
}
.css{
    background-color: darkmagenta;
}
.html{
    background-color: aqua;
}
.english{
    background-color: brown;
}
.javascript{
    background-color: tomato;
}s