.body{
    margin: 0;
}
.header{
    background-color: green;
    color: black;
    padding: 5px;
}
.div-1{
    width: 30%;
    float: left;
}
.grid-2{
    width: 75%;
    float: right;
}
.logo{
    text-align: left;
    width: 20%;
}
.search{
    text-align: right;
    padding: 10px;
    width: 30%;
}   
.nav{
    background-color: red;
    color: black;
    padding: 10px;
}
.main{
    background-color: aqua;
    color: red;
    padding: 10%;
}
.container{
    background: #eee;
    width: 700px;
    margin: 70px 0 0 50px;
    display:grid;
    grid-template-columns: 250px 200px auto;
    grid-template-rows: 150px 100px 100px;
}
.items1{
    background-color: orangered;
}
.items2{
    background-color: yellowgreen;
}
.items3{
    background-color: palevioletred;
}
.items4{
    background-color: tomato;
}
.items5{
    background-color: navy;
}
.items6{
    background-color: purple;
}




.footer{
    background-color: yellow;
    padding: 15px;
}


















