.body {
    margin: 0;
}

.header {
    background-color: aqua;
    padding: 30px;
    border: 2px solid black;

}

.row,.column1{
    background-color:lightgreen;
    width: 35%;
    float: left;
    display:inline-block;
}
.row,.column2{
    width: 65%;
    background-color: greenyellow;
    display: inline-block;
}
.nav {
    background-color: blue;
    padding: 10px;
    text-align: center;
    border: 2px solid black;

}

.main {
    background-color: yellow;

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
    gap: 0px;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item1 {
    background-color: red;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 2px solid black;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 150px 100px 100px;
  }
  .grid-item2{
    background-color: brown;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 2px solid black;
    grid-template-columns: 25% 30% 50%;
    grid-template-rows: 150px 100px 100px;
    grid-row: 1 / 2;

  }
.grid-item3 {
    background-color: orangered;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
    text-align: center;
    grid-template-columns: 25% 30% 50%;
    grid-template-rows: 150px 100px 100px;
  }
  .grid-item4{
    background-color: yellowgreen;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 2px solid black;
    grid-template-columns: 25% 30% 50%;
    grid-template-rows: 150px 100px 100px;
    height: 10pc;
  }
  .grid-item5 {
    background-color: maroon;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 2px solid black;
    grid-template-columns: 25% 30% 50%;
    grid-template-rows: 150px 100px 100px;
    grid-row: 1 / 4;
    height: 25pc;
  }
  .grid-item6 {
    background-color: magenta;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 2px solid black;
    grid-template-columns: 25% 30% 50%;
    grid-template-rows: 150px 100px 100px;
    height: 10pc;
  }

  .grid-item8 {
    background-color:lightcoral;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 2px solid black;
    grid-template-columns: 25% 30% 50%;
    grid-template-rows: 150px 100px 100px;
    grid-row: 1 / 2;

  }
  .grid-item9 {
    background-color:gray;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 2px solid black;
    grid-template-columns: 25% 30% 50%;
    grid-template-rows: 150px 100px 100px;ss
    height: 10px;
    display:inline block;
  }
  .footer{
    background-color: darkgreen;
    padding: 15px;
    text-align: center;
    border: 2px solid black;

  }

    
